[2015-03-04 20:17] AlexWhiteIncorporated opened #1 "State Labels Wiki Images"
Here are the initial draft images used to denote Project State. Referenced by the docs Wiki.

![delivery banner large](https://cloud.githubusercontent.com/assets/10409349/6492400/49938c80-c268-11e4-848e-ef87d1eda90e.png)
![delivery banner small](https://cloud.githubusercontent.com/assets/10409349/6492399/4992ab12-c268-11e4-9ff2-d62d39782423.png)
![delivery banner tiny](https://cloud.githubusercont

[2015-03-04 22:22] AlexWhiteIncorporated opened #2 "Domain Model Wiki Image"
![exchange model](https://cloud.githubusercontent.com/assets/10409349/6494891/f1b3006a-c279-11e4-8d0a-b402a622e2a8.PNG)

[2015-03-05 00:06] AlexWhiteIncorporated opened #3 "Research Badge"
![Research](https://img.shields.io/badge/BCDevExchange-Test-red.svg "An idea being explored and shaped. Open for discussion, but may never go anywhere.")

[2015-03-05 00:15] #3 closed

[2015-03-05 00:26] AlexWhiteIncorporated opened #4 "Architecture Wiki Images"
![1](https://cloud.githubusercontent.com/assets/10409349/6496663/35dd725a-c28b-11e4-827f-3e4467d273a3.png)
![2](https://cloud.githubusercontent.com/assets/10409349/6496664/35ee6268-c28b-11e4-93c0-8e36722ea2cc.png)
![3](https://cloud.githubusercontent.com/assets/10409349/6496669/35ff650e-c28b-11e4-9dce-1e587ffda648.png)
![4](https://cloud.githubusercontent.com/assets/10409349/6496668/35fde4cc-c28b-

[2015-03-05 16:53] AlexWhiteIncorporated opened #5 "Developer Registration Wiki Images"
![1 1](https://cloud.githubusercontent.com/assets/10409349/6509588/26b648b2-c315-11e4-8d99-883d293fd641.png)
![1 2](https://cloud.githubusercontent.com/assets/10409349/6509587/26b55f24-c315-11e4-8d78-8ef86b828426.png)

[2015-03-07 03:12] bmann opened #6 "Suggestion / Question: wiki docs are not commentable / editable - put it into the repo directly?"
Great to see this up on GitHub! Welcome and congratulations.

A suggestion / question. Currently, there is lots of info in the wiki. I have lots of questions about the docs. There doesn't currently seem to be a way to make comments.

A suggestion: you might want to check in the wiki as markdown documents (including images that you've currently uploaded in issues). Then, us outside developers can f

[2015-03-07 16:22] kelpisland commented on #6
Thanks for the suggestion - we are really keen on feedback so yes, I agree it's a good idea to set up the wiki files as MD for easy comments. Stay tuned for the changes.

[2015-03-07 16:29] kelpisland commented on #6
I've added a user story to our backlog so we can devote some time to this in an upcoming sprint.

[2015-03-08 00:56] GregTurner commented on #6
+1
On 7 Mar 2015 08:29, "Todd Wilson" notifications@github.com wrote:

[2015-03-09 20:46] AlexWhiteIncorporated commented on #1
Images added to docs/images

[2015-03-09 20:46] #1 closed

[2015-03-09 20:46] AlexWhiteIncorporated commented on #2
Image added to docs/images

[2015-03-09 20:46] #2 closed

[2015-03-09 20:46] AlexWhiteIncorporated commented on #4
Image added to docs/images

[2015-03-09 20:46] #4 closed

[2015-03-09 20:47] AlexWhiteIncorporated commented on #5
Images added to docs/images

[2015-03-09 20:47] #5 closed

[2015-03-11 18:28] watkinspd opened #8 "Suggestion: I think the Red Research badge would be better as a Blue (sky) Ideation badge"
Suggested changes can be viewed at my forked version of the repo.

https://github.com/watkinspd/docs/blob/master/discussion/projectstates.md

https://github.com/watkinspd/docs/blob/master/discussion/statelabels.md

[2015-03-11 20:09] GregTurner commented on #8
I glad the badges are a hit. If were going to seriously use them is
delivery scenarios, I'd like to change how they are linked. E,g. Not static
from shields.io.
On 11 Mar 2015 11:28, "Peter Watkins" notifications@github.com wrote:

[2015-03-12 15:38] AlexWhiteIncorporated commented on #6
Good suggestion. We've moved content from the docs/wiki to docs/discussion to better enable feedback and discussion.

Thanks!

[2015-03-12 15:38] #6 closed

[2015-03-12 20:45] AlexWhiteIncorporated commented on #8
I like the blue, and it seems like "Ideation" is a real word, so could work. Other suggested ideas were "Experimental" and "Exploration" (from Andy at MoE). All would work for me.

FYI - The changes you made to the non-badge labels (Icons, Letters, small banners, large banners) for the Research items broke the links (they were referencing .png files in the docs/images folder). These may get scrapp

[2015-03-12 20:47] AlexWhiteIncorporated commented on #8
Some further discussions have brought up another front runner suggestion - "Inspiration". Please weigh in with your thoughts.

"Inspiration"?

"Exploration"?

I think I vote for exploration.

[2015-03-12 21:01] watkinspd commented on #8
You can see what Inspiration looks like on my fork of the repo.

[2015-03-12 22:28] kelpisland commented on #8
After a frenzied white board session we've got 3 new frontrunners:
Inspiration
Exploration
Adoption

[2015-03-26 16:13] AlexWhiteIncorporated commented on #8
New badges adopted!

[2015-03-26 16:13] #8 closed

[2015-04-17 18:40] bmann opened #12 "Question: is the resources page the only APIs / content that is available today?"
Looking at the BCDevX site, I guess the resources page is the list of what is available -- https://bcdevexchange.org/#/resources

As I suggested in the HIVE meeting, perhaps we can use this issue queue to request / suggest data sets and APIs that people want access to. You can have a label called "data requests" so we can filter on that, and can have a "Looking for more APIs or data sets? Visit th

[2015-04-17 18:42] bmann opened #13 "Data Request: land data from BC Assessment"
(someone please edit this title and body, I'm adding it as an example data request)

Is there an API or other data available from BC Assessment? http://www.bcassessment.ca/

[2015-04-17 21:44] kelpisland commented on #13
Hi bmann - we like the idea of using github for data request dialogue, I've started a new repo (https://github.com/BCDevExchange/Data-Requests) that is just an empty shell at this point but next week we'll look at adding a reasonable process getting the conversation started. Stay tuned!

[2015-04-17 21:47] kelpisland commented on #12
We are looking at a couple of options that will use either github "issues" or a markdown page or yaml to help build out the list by tapping into the community.

[2015-04-17 21:51] bmann commented on #13
I would not recommend spawning too many repos. 

If you want comments and pull requests on your docs, then centralize "community" issues here. 

But it's certainly a lot larger than just data requests.

Also, you said "we" -- it would be best if you can discuss in the open so we can see & participate in your thought process.

Please re-open for further discussion so others can see & contribute.

[2015-04-17 23:57] purecanuck opened #14 "Where is the master index of data sets?"
Where is the master list of data sets that we can choose from, to request access to?

[2015-04-18 03:48] kelpisland commented on #14
I'm not sure what you mean - we are exploring a federated approach to presenting digital resources (including data) but at this point we don't have a plan for master data index. The priority we have is to design a method to present data, api's and project opportunities "in context" and from multiple sources.

[2015-04-20 03:29] ghost commented on #12
@kelpisland
Is there an existing roadmap of data sets that will be opened up in the nearest future?
It wasn't quite clear at the meetup if there is one in the works already or it will be driven by demand from the public.

@bmann
GitHub issues seems like a simple way to track data requests. They weren't necessarily designed for voting but we can just use a :+1: and do manual counts for now.

[2015-04-20 16:40] kelpisland commented on #12
@yonderboi
I'm not sure if there is a data set roadmap for existing request but it makes sense to me to post it as part of the [Data-requests repo](https://github.com/BCDevExchange/Data-Requests) (if it exists). I'll look into it and report back.

[2015-04-20 16:41] bmann commented on #12
@kelpisland I really don't think you should split this into a gazillion different repos. Can we continue that discussion / re-open the issue you closed? https://github.com/BCDevExchange/Our-Project-Docs/issues/13

[2015-04-20 16:44] kelpisland commented on #12
Sure - reopening [#13](https://github.com/BCDevExchange/Our-Project-Docs/issues/13)

[2015-04-20 16:48] kelpisland commented on #13
The idea behind a separate repo for data requests is rooted in the fact that those requests are managed by a distinct team of people who operate independently (but related to) the BCDevExchange. So from a "team" access and notifications point of view it make sense to separate it.
@bmann
What's your thoughts about keeping the number of repos low?

[2015-04-20 23:06] gndv commented on #14
@kelpisland, I think @purecanuck is referring to the point discussed at the Vancouver #BCDev event last week, that the development and startup community needs to have an idea of what kinds of data exist to know what to ask for. Basically - how would a non public servant get an idea the opportunities that may exist with data sets that aren't open yet.

Maybe there needs to be an overview of the may

[2015-04-21 17:43] rwongmoon opened #15 "Which municipal datasets are the best candidates for developing open data standards?"
Which municipal datasets would have the most value if made open and aggregated for regions in BC or even province/nation wide? Municipal government needs to know this in order to:
- build a business case for developing these standards
- focus their efforts on data that will provide the most benefit

For those of you who might not know, there are existing standards like Open311.org and Open511.org

[2015-04-22 01:57] chenkirk commented on #14
There's also a pretty cool list of public data here (not specific to BC) http://www.datasciencecentral.com/profiles/blogs/great-github-list-of-public-data-sets

[2015-04-22 02:04] StormTide commented on #15
A common municipal financial presentation would be a huge win. I tried to seed one here: https://github.com/StormTide/Municipal-Finance but it didn't get very far.  The 'pitch' is that currently all the muni's make up their own financial statements. They follow no comparable accounting standard, not ifrs, xbrl or anything, and you cant even analyze the spending within a specific municipality year-

[2015-04-22 16:27] kelpisland commented on #14
@gndv , thanks for the clarification  - I think your suggestion for an overview of the major data sets a ministry/agency/etc has (open or not) would be, very much, a step in the right direction. Wondering how best to approach this in a useful way to link the data to the business context that would be better than just a simple list?

[2015-04-24 17:26] colgur commented on #15
Forgive the naive question: What kind of information do the municipalities share with the province? Is that information sharing obligatory?

[2015-04-24 19:04] rwongmoon commented on #15
Hi colgur, that is a good question.  I wonder if there is an expert out there, maybe from provincial government, who could answer those questions?  I work for a municipality but I don't know the full extent of which data gets passed to the province.  I find that most municipalities function in practice as a loosely federated set of separate businesses operating within the same jurisdiction.  In my

[2015-05-06 22:15] chenkirk opened #16 "Data Request: campground data from BC Parks"
http://www.env.gov.bc.ca/bcparks/

Is there an API or other data available to access information about BC camp sites, trails, and parks?

[2015-05-06 22:17] chenkirk commented on #13
@kelpisland I've opened another data request here:
https://github.com/BCDevExchange/Our-Project-Docs/issues/16

Not sure if you have decided to go with 2 repo or keep it all in one, so I've just initially created it here.

My 2 cents on more repo vs less repo: isn't the idea of open source so people who operate independently can come together and work on the same repository? :)

[2015-05-07 23:48] lmullane commented on #16
Hi Chen,

Thanks for contacting us. Currently, we do not have a API with vector points for parks, trails, and campsites.

However, the locations of BC Parks are available for download from the DataBC Catalogue under the Open Government License (OGL) – British Columbia:
http://catalogue.data.gov.bc.ca/dataset/bc-parks-ecological-reserves-and-protected-areas

Where trail location data exists, it wil

[2015-05-26 17:30] #16 closed

[2015-06-03 18:34] kelpisland opened #19 "Test rapid adoption issue"
This is a test issue

[2015-06-08 23:08] stcharlesst commented on #19
Just looking for more info - how does this work?

[2015-06-08 23:16] kelpisland commented on #19
[testing a link](README.md)

[2015-06-19 17:13] kelpisland commented on #19
reviewing pull request today

[2015-06-19 17:18] #19 closed

[2015-07-29 20:18] kelpisland opened #23 "rapid adoption test"

[2015-07-29 20:20] kelpisland opened #24 "rapid adoption 2"

[2015-07-29 20:28] #24 closed

[2015-07-30 03:42] kelpisland commented on #23
Looking for good stuff

[2015-07-30 04:18] #23 closed

[2015-07-30 04:34] kelpisland commented on #23
All done - rapid adoption complete

[2015-09-18 04:04] kelpisland commented on #13
Closing this issue:
We are moving forward with glitter to support collaboration discussions so look of the gitter badge where active dev (and chats) are happening

[2015-09-18 04:04] #13 closed

[2015-09-18 04:06] kelpisland commented on #15
Closing this issue:
We are moving forward with gitter to support collaboration discussions so look of the gitter badge where active dev (and chats) are happening

[2015-09-18 04:06] #15 closed

[2015-09-18 04:07] kelpisland commented on #14
Closing this issue:
We are moving forward with gitter to support collaboration discussions so look of the gitter badge where active dev (and chats) are happening

[2015-09-18 04:07] #14 closed

[2015-09-18 04:09] kelpisland commented on #12
Closing this issue:
We are moving forward with gitter to support collaboration discussions so look of the gitter badge where active dev (and chats) are happening

[2015-09-18 04:09] #12 closed

[2015-09-18 21:15] kelpisland opened #30 "Spike: API Management R2"
<a rel="Inspiration" href="https://github.com/BCDevExchange/docs/blob/master/discussion/projectstates.md"><img alt="An idea being explored and shaped. Open for discussion, but may never go anywhere." style="border-width:0" src="http://bcdevexchange.org/badge/1.svg" title="An idea being explored and shaped. Open for discussion, but may never go anywhere." /></a>

# SPIKE:

As a program manager I ne

[2015-09-18 21:37] kelpisland opened #31 "Spike: Enhanced Auth"
<a rel="Inspiration" href="https://github.com/BCDevExchange/docs/blob/master/discussion/projectstates.md"><img alt="An idea being explored and shaped. Open for discussion, but may never go anywhere." style="border-width:0" src="http://bcdevexchange.org/badge/1.svg" title="An idea being explored and shaped. Open for discussion, but may never go anywhere." /></a>

# SPIKE:

As a user I want to be ab

[2015-09-18 21:42] ll911 commented on #30
We should compare StrongLoop with Mashape not just Kong
StrongLoop is an API platform including multiple components that is solely designed for nodeJS
- Arc API lifecycle GUI tool
- LoopBack API node framework
- Data connector (JDBC driver like, but for node to connect multiple data source, like oracle, postgresql, etc)
- API Gateway for node
- Additional component for process management, monitori

[2015-09-21 21:30] kelpisland commented on #30
Agreed- I don't want to limit the exploration, the more avenues that can be explored in the time we have the better we can map our way forward.

[2015-09-22 22:00] kelpisland commented on #30
Added [Spike 30 Meeting Notes 2015-09-22](https://github.com/BCDevExchange/Our-Project-Docs/blob/master/spikes/Spike30-Meeting-Notes-2015-09-22.md)

[2015-09-22 22:22] kelpisland opened #33 "GitHub Guides (Public Sector)"
<a rel="Delivery" href="https://github.com/BCDevExchange/docs/blob/master/discussion/projectstates.md"><img alt="In production, but maybe in Alpha or Beta. Intended to persist and be supported." style="border-width:0" src="http://bcdevexchange.org/badge/3.svg" title="In production, but maybe in Alpha or Beta. Intended to persist and be supported." /></a>

# Story:

As a broader public servant I ne

[2015-09-22 22:27] kelpisland opened #34 "Update Collection Notice For Gitter"
The mouse over "notice" for Gitter.io needs to be refined.

[2015-09-22 22:34] lmullane opened #35 "New API for console"
Add Surrey Service Request API: http://cosmos.surrey.ca/api/open311/discovery.xml

[2015-09-22 22:45] kelpisland opened #36 "Create the Engagement Wordpress Profile Page"
As a program owner I need to create a profile page for Engagement WordPress instance so that I can collaborate with other innovators to improve the services this engagement site provides.

Created by: David Hume

DOD:
1. Ensure provenance
2. Create draft content for all profile page sections
3. Be ready to send for final review and decision

Approach:

Connect with:
David Hume, Justin Hewitt, Davi

[2015-09-23 15:40] kelpisland opened #37 "PRAD 1K UX and prototype"
<a rel="Exploration" href="https://github.com/BCDevExchange/docs/blob/master/discussion/projectstates.md"><img alt="Being designed and built, but in the lab. May change, disappear, or be buggy." style="border-width:0" src="http://bcdevexchange.org/badge/2.svg" title="Being designed and built, but in the lab. May change, disappear, or be buggy." /></a>

# Story:

As a developer I want to be able to

[2015-09-23 15:52] kelpisland opened #38 "Public Sector Sign-up"
<a rel="Exploration" href="https://github.com/BCDevExchange/docs/blob/master/discussion/projectstates.md"><img alt="Being designed and built, but in the lab. May change, disappear, or be buggy." style="border-width:0" src="http://bcdevexchange.org/badge/2.svg" title="Being designed and built, but in the lab. May change, disappear, or be buggy." /></a>

# Story:

As a public sector resource owner I

[2015-09-23 17:03] paulroberts68 commented on #37
@kelpisland I think the story should read...As a profile page owner I want developers to be able to interact with the PRAD 1K mechanism through the exchange so that I can engage the services of private sector developers to work on my code.

and the success criteria...
1. Develop a journey map for a profile page owner.
2. Develop a journey map for a developer.

[2015-09-23 17:18] StormTide opened #39 "Create a glossary for project aconyms"
Trying to follow what you guys are posting from a developer's perspective, but not keeping up with the internal code-names being used... PRAD1K etc... Can we add a glossary/definition list or use expanded forms.

[2015-09-23 17:39] kelpisland commented on #39
Apologies: it's easy to forget that we're so jargon heavy in our day to day work - and we're really happy you are following along, that's the whole reason we're moving to GH Issues.  A glossary is an awesome idea! I'll get one started and post the link - stay tuned.

[2015-09-23 18:16] dbhume opened #40 "No license or terms of use listing on DriveBC API profile"

[2015-09-23 18:22] ll911 commented on #30
Thx Fred for the detailed feature maps for DevX, I like to add 3M to selection criteria.
- Microservice Architecture => new SOA, loose couple in functions not loose couple in technology components, REST, ... not just load balanced app tier (X)/ partitioned data tier(Y) scalable but also scalable in function (Z)
- Multi-Language => not restricted to one programming language, so it can be cross plat

[2015-09-23 19:08] lmullane commented on #40
Hi David, there is a link to the OGL in the description on the profile page. Would you like it listed under resources as well?

[2015-09-23 19:16] dbhume commented on #40
That sounds good. Seems to me it should be part of the API console documentation tab too.

From: Loren Mullane
Sent: Wednesday, September 23, 2015 12:08 PM
To: BCDevExchange/Our-Project-Docs
Reply To: BCDevExchange/Our-Project-Docs
Cc: Hume, David GCPE:EX
Subject: Re: [Our-Project-Docs] No license or terms of use listing on DriveBC API profile (#40)

Hi David, there is a link to the OGL in the des

[2015-09-23 19:27] lmullane commented on #40
@kelpisland Can we add licenses and terms of use (e.g. OGL for Open511) to the documents tab in the console? This should be for all of the APIs with a console. @dbhume

[2015-09-23 19:32] lmullane commented on #40
@dbhume I have added the API Terms of Use and OGL under resources on the profile page.

[2015-09-23 21:51] kelpisland commented on #40
I think - Yes, but I don't have the access to do that.
@ll911
  can you work with Loren to get the documents added to the Open511 console.

[2015-09-23 22:15] ll911 commented on #40
both OGL and TC now linked under API console

[2015-09-23 22:37] dy2288 opened #41 "Metrics and Analytics"
<a rel="Exploration" href="https://github.com/BCDevExchange/docs/blob/master/discussion/projectstates.md"><img alt="Being designed and built, but in the lab. May change, disappear, or be buggy." style="border-width:0" src="http://bcdevexchange.org/badge/2.svg" title="Being designed and built, but in the lab. May change, disappear, or be buggy." /></a>

# Story:

As a BCDevExchange program owner I

[2015-09-23 22:39] dy2288 commented on #41
@kelpisland - do we have Webmaster Tools configured so we can get more information about the site's visibility in Google search results?

[2015-09-23 22:57] dy2288 commented on #41
Draft

[2015-09-23 23:20] kelpisland commented on #41
I'm not sure what's set up. We do have a Google Analytics live. You are set up with admin privileges with your gmail address.

[2015-09-23 23:29] kelpisland commented on #41
Looks like it was set up:

![screen shot 2015-09-23 at 4 25 07 pm](https://cloud.githubusercontent.com/assets/9368818/10061701/176264e6-6210-11e5-8c0c-0b6dc0bb679e.png)

[2015-09-24 22:16] lmullane commented on #40
@dbhume There are fields in the Swagger definition for licensing and terms (when applicable). Once added to the definition this information does appear,  but on the console tab rather than the documents tab; this information is now there for both BC Laws and Open511. Does this work for you? Likely making this information appear on the documents tab would require a change to the Swagger definitions

[2015-09-29 18:23] f-w commented on #30
@watkinspd showed me this tool - [swagger.io](http://swagger.io/) which contains a swagger editor with online demo. Is it too geeky to expose raw swagger text to devx api provider?

[2015-09-29 23:26] dy2288 commented on #41
Important questions:
- Do people use the profile pages? How? [Partial, to be improved]
- Do people sign-up? [Missing, Possible with Dev effort]
- How many people log in? [Missing, Possible]
- How are our Github pages performing for each profile page? [Missing, Possible with Dev effort = Github API + stored procedure + feeding into GA?]
- Do visitors find the resources they need via profile pages?

[2015-10-01 16:16] ll911 commented on #35
o   Draft complete: City of Surrey API console and associated swagger v1.2 definition in WSO2.
o   Next: present to Surrey on Friday -> UAT -> refinements -> republish next week.

https://api.bcdevexchange.org/apim/store/apis/info?name=surrey-open311&version=2&provider=admin

[2015-10-02 15:22] BK01 opened #43 "Swagger version update (2.0)"
Swagger 1.2 -> 2.0

[2015-10-02 15:24] BK01 commented on #43
Update swagger definitions from version 1.2 to 2.0. This will allow us to continue to offer API consoles in the latest API explorer software.

[2015-10-02 15:28] BK01 opened #44 "Geocoder API console update (v2)"
Update to the BC Physical Address Geocoder API console. Add missing resources from API spec as well as new release of the Geocoder.

[2015-10-02 20:38] BK01 opened #45 "City of Surrey API console update (v2)"
Update to the City of Surrey's API console (Service Requests API). Add further documentation and refinements to default values, branding, resources/parameters based on feedback from Surrey UAT.

[2015-10-03 00:26] lmullane opened #46 "Langley - Cemetery API added to console"
Township of Langley

[2015-10-03 00:28] lmullane commented on #46
We need to create a Swagger Definition and add a new APIto the console.

[2015-10-05 22:03] lmullane opened #47 "Profile page changes"
https://bcdevexchange.org/programs/Township%20of%20Langley

Need to add GitHub buttons and link here https://github.com/BCDevExchange/cemetery-information

Hide community, skills, and news.

[2015-10-05 22:04] lmullane opened #48 "Link GitHub to profile page"
Add GitHub counter to this profile page: https://bcdevexchange.org/programs/Township%20of%20Langley

Pull stats from this repo: https://github.com/BCDevExchange/cemetery-information

[2015-10-05 22:22] f-w commented on #48
done

[2015-10-05 22:22] #48 closed

[2015-10-06 15:50] BK01 commented on #35
First iteration complete and published. Next sprint - additional feedback, client UAT, refinements and re-publication with version 2.

[2015-10-06 16:14] #35 closed

[2015-10-06 17:04] #47 closed

[2015-10-06 19:23] lmullane commented on #47
Great work, @dy2288. Could you please hide the Work With Us button and section too.

[2015-10-06 21:23] lmullane opened #49 "Add blog posts"
http://blog.data.gov.bc.ca/2015/10/the-road-to-innovation-is-drivebcs-open511/

http://blog.data.gov.bc.ca/2015/09/github-harnesses-the-power-of-the-crowd/

[2015-10-06 22:42] #49 closed

[2015-10-07 17:25] paulroberts68 commented on #36
Conducting some background work to confirm the application provenance. I've ascertained that only one contractor (from CGI) has produced code fort he core WordPress application.

[2015-10-07 20:39] paulroberts68 opened #50 "Docker HUB PIA and STRA"
The team needs to complete a PIA and STRA for DockerHub.

DOD
PIA needs completed
STRA needs completed
Legal review of terms need completed

[2015-10-07 21:01] dbhume commented on #50
Don't forget legal review of terms.

From: Paul Roberts
Sent: Wednesday, October 7, 2015 1:39 PM
To: BCDevExchange/Our-Project-Docs
Reply To: BCDevExchange/Our-Project-Docs
Subject: [Our-Project-Docs] Docker HUB PIA and STRA (#50)

The team needs to complete a PIA and STRA for DockerHub.

##

Reply to this email directly or view it on GitHubhttps://github.com/BCDevExchange/Our-Project-Docs/issues/

[2015-10-08 19:00] paulroberts68 opened #52 "Review profile page analytics with profile/page owners"
As a developer I need to know what program owners need to see on their analytic dashboard so that I can configure it to show the appropriate amount and type of data.

Created by: Daniel

DOD
1. Engage with the appropriate number of clients and determine what content we need to provide.

Approach:

Connect with:
Loren, Rommel

[2015-10-08 19:10] paulroberts68 opened #53 "As a user I want to be able to reserve a specialized lab URL name so that I can prove that the work I am doing is under the safe net of the exchange lab construct."
As a user I want to be able to reserve a specialized lab URL name so that I can prove that the work I am doing is under the safe net of the exchange lab construct.

Created by: Peter

DOD
Back end workflow (via email to our techs?)
Tested / verified against AZURE, AWS?
Management console by user/ org/user for adding/changing/deleting reserved names

[2015-10-08 19:18] paulroberts68 opened #54 "Create the legal terms for PRAD 1K"
As a program owner I need to ensure that participants in the exchange agree to legal terms so that PRAD 1K can be initiated.

Created by: Peter/Hume

DOD
1. Complete all 4 sets of legal terms.
2. Attain legal sign-off
3. Attain OCG sign-off
4. Align the terms with those of the framework of exchange terms

Approach

Connect with

[2015-10-08 19:23] paulroberts68 opened #55 "Create support material for PRAD 1K"
As a developer I need to know how to use PRAD 1K so that I can engage in the development of program services/code.

Created by Peter/Hume

DOD
1. Provide help content
2. Create wire frames (if appropriate)
3. Create a prototype (if appropriate)

[2015-10-09 20:25] paulroberts68 opened #57 "Identify early adopters for PRAD 1K"
As a program owner I need to identify 3 early adopter who can help the team with testing PRAD 1K

[2015-10-13 16:24] #41 closed

[2015-10-13 16:25] #38 closed

[2015-10-13 16:25] #30 closed

[2015-10-13 16:48] DavidR8 commented on #34
I have revised language from the Privacy Branch. Awaiting approval from David Hume

[2015-10-13 16:49] DavidR8 commented on #36
A security review of the code is also required prior to release.

[2015-10-13 17:32] kelpisland opened #58 "Finalize Langley Profile Page"
DOD
Publish Langley profile page.

Approach

Connect with
Steve Scheepmaker
Loren

[2015-10-13 17:36] kelpisland opened #59 "Vancouver Profile Page Content"

[2015-10-13 17:37] kelpisland opened #60 "Organize a co-design session with BCA to create their Profile Page"
Story:
As BCA, I need to draft launch documentation, and receive GitHub training in preparation for launch.

Issues:
Docs Needed?
*Communicate constraints
*Use Cases & Templates
*Profile Page Draft
*Communications Plan
*Dhume needs to contact/arrange meeting with BCA

Approach:
*Meaghan to coordinate next steps/llist working with Loren
*Under direction from Loren (Meaghan)
*Docs drafted by DH, Sab

[2015-10-13 17:49] kelpisland opened #61 "Create a BCDevExchange profile page"
<a rel="Exploration" href="https://github.com/BCDevExchange/docs/blob/master/discussion/projectstates.md"><img alt="Being designed and built, but in the lab. May change, disappear, or be buggy." style="border-width:0" src="http://bcdevexchange.org/badge/2.svg" title="Being designed and built, but in the lab. May change, disappear, or be buggy." /></a>

# Story:

As the BCDevExchange program owner,

[2015-10-13 19:42] kelpisland commented on #37
Let's capture both actors (developers & Program owners) so I'll update the story to be more specific.

[2015-10-13 19:49] paulroberts68 opened #62 "Create a repository where we can put all of the list of services that have been approved for use in the exchange"
Created by Peter

[2015-10-13 20:02] paulroberts68 opened #63 "Schedule (or learn of) the next gitter meeting"
As a developer/program owner I want to organize or be informed about the next scheduled gitter chat so that I can contribute or learn.

Created by Peter/Todd

DOD
1. Wireframe
2. Review options for meet-up

Approach

Connect with
Peter, Todd

[2015-10-13 20:12] kelpisland commented on #43
Is this a requirement for our WSO2 experiment?

[2015-10-13 22:39] lmullane commented on #59
@dy2288 Could you please add this page https://bcdevexchange.org/programs/City%20of%20Vancouver

to the program list: https://bcdevexchange.org/programs

[2015-10-14 15:29] BK01 commented on #43
Correct. The swagger 2.0 conversion is required to test the API console function within Swagger Editor and Mashape Gelato. Swagger 2.0 is also used in future versions of WSO2 (1.9+).

---

Brian Kelsey | DataBC

From: Todd Wilson [mailto:notifications@github.com]
Sent: Tuesday, October 13, 2015 1:12 PM
To: BCDevExchange/Our-Project-Docs
Cc: Kelsey, Brian GCPE:EX
Subject: Re: [Our-Project-Docs] Swa

[2015-10-14 19:43] BK01 commented on #46
Who is the API owner and primary contact?

[2015-10-14 21:45] DavidR8 commented on #58
Sent email to Steve Scheepmaker to discuss licensing.

[2015-10-15 00:48] lmullane commented on #61
@dy2288 Could you please create a profile page with all the features for the BCDevExchange and then assign this ticket back to me. Much thanks.

[2015-10-15 00:54] lmullane opened #64 "Public sector sign-up prototype and user testing"
As a public sector program owner, I want to sign up to the BCDevExchange and publish a profile page.

DOD:
- confirm journey map
- Develop prototype
- recruit program owners
- test and report out

[2015-10-15 00:59] lmullane commented on #60
@dbhume When you have time let's connect on next steps.

[2015-10-15 16:11] pcrossley opened #65 "Test Issue - Please ignore"
Please ignore.

[2015-10-15 16:13] pcrossley commented on #58
thanks

[2015-10-15 20:29] DavidR8 commented on #65
deleting

[2015-10-15 20:29] #65 closed

[2015-10-15 23:42] dy2288 commented on #61
https://uat.bcdevexchange.org/programs/BCDevExchange

[2015-10-15 23:43] dy2288 commented on #59
Done.

[2015-10-16 00:47] #59 closed

[2015-10-16 17:09] DavidR8 commented on #34
Revised collection notice language has been approved as follows:

Please do not provide any personal information or third-party personal information (ie. talk about others) in your use of the Gitter application. Any information you choose to provide will not be in the custody or control of the Ministry of Advanced Education. For more information, please see the Privacy Policy of Gitter.

[2015-10-16 17:32] DavidR8 commented on #54
Draft Pay for Pull terms sent to Legal

[2015-10-16 18:25] ragbay commented on #58
thanks (testing)

[2015-10-16 18:44] paulroberts68 opened #66 "Test"
test

[2015-10-16 19:46] lmullane opened #67 "Edit to Vancouver program list"
Change sentence for Vancouver here: https://bcdevexchange.org/programs

To this: Vancouver released its Digital Strategy with commitments to support innovation and growth in local digital economy

[2015-10-16 20:02] dy2288 commented on #67
Sentence seems to already be there? Please clarify.

[2015-10-16 21:22] #66 closed

[2015-10-16 21:35] pcrossley commented on #60
Who is accountable to drive key dates? (warm handoff from Blair to Meaghan?)

[2015-10-16 21:53] paulroberts68 opened #68 "Profile page owner can accept more than 1 pull request"
As a profile page owner I need to be able to the accept more than 1 pull request during a PRAD 1K transaction cycle so that I can access all the good code available.

[2015-10-16 21:56] paulroberts68 commented on #68
@kelpisland Do you and Leslie have time to complete this story in Sprint 14 (along with the other PRAD 1K stuff?)

[2015-10-16 21:58] #67 closed

[2015-10-16 22:01] MeaghanRStewart commented on #60
@pcrossley , Meaghan will work with the account managers to ensure that key deliverables are met. By key dates are you referring to overall account goals or sprint tasks?

[2015-10-16 22:01] lmullane commented on #57
@MeaghanRStewart Could you please email @paulroberts68 the account slide deck with the goals table. Thanks!

[2015-10-16 22:17] DavidR8 commented on #68
@paulroberts68 @kelpisland
We can adjust the terms as necessary; is this more of a github functionality ticket?

[2015-10-16 22:20] MeaghanRStewart commented on #57
Currently Blair has the updated copy, I will request it from him.

[2015-10-16 22:39] pcrossley opened #69 "Swag for testing"
Find out what Swag is available for UX participants.  Report this to Loren and Rommel

[2015-10-16 22:42] kelpisland commented on #34
I've added it to the docs repo gitter button, I'll include the txt as a template reference in the sample read.md for future users.

[2015-10-16 22:43] #34 closed

[2015-10-16 22:44] pcrossley commented on #60
@MeaghanRStewart,  I've just transcribed what you (I think) had written on the Post-It during Sprint Planning.  Maybe Blair knows?

[2015-10-16 22:57] DavidR8 commented on #40
@lmullane can this be closed?

[2015-10-19 15:47] BK01 commented on #46
Story:

As a developer I need to understand how the cemetery API (Township of Langley) works. I need to be able to explore the resources and parameters available in the API.

Success Criteria:
- Approval from the Township of Langley to build a public API console
- Functional API console in the API store for the cemetery API

Deliverables:
- Swagger definition file (v1.2) completed
- Published API

[2015-10-19 15:51] BK01 commented on #44
Story:

As a developer I need to understand how the BC Physical Address Geocoder API works. I need to be able to explore the resources and parameters available in the recently updated version of the API.

Success Criteria:
- Updated API console in the API store for the Geocoder API. Include missing resources and parameters (new version released) based on the REST API documentation.

Deliverables:

[2015-10-19 15:57] BK01 commented on #45
Story:

As a developer I need to understand how the City of Surrey's Service Request API works. I need to be able to explore the resources and parameters available in the API.

Success Criteria:
- Implement refinements based on feedback from the City of Surrey (parameters, branding, labels etc)
- Updated API console in the API store for the Service Requests API
- Approval from the City of Surrey o

[2015-10-19 16:04] BK01 commented on #43
Story:

I need to be able to utilize Swagger definition files in different versions of API explorers. I need to ensure that the definition files are portable and reflect current standards.

Success Criteria:
- Updated Swagger definition files (v1.2 -> v2.0)

Deliverables:
- Swagger definition files (for existing API consoles) converted from version 1.2 to version 2.0 (BCDataCatalogue, BCLaws, Geoc

[2015-10-19 16:40] pcrossley commented on #64
@paulroberts68 What's the priority of this one?

[2015-10-20 17:59] DavidR8 commented on #58
Call booked for 11am Oct 21

[2015-10-20 23:23] DavidR8 commented on #57
@paulroberts68 suggest early adopters are Citizen Engagement, Geocoder, Environmental Reporting, Queens Printer.
Moving to "Done"
cc/ @lmullane @MeghanRStewart

[2015-10-20 23:24] #57 closed

[2015-10-21 18:01] lmullane commented on #36
@dy2288 Can you please create a profile page for the Citizen Engagement with full features. Once complete please reassign to @DavidR8.

[2015-10-21 18:26] DavidR8 commented on #58
Steve is taking Apache license recommendation to his legal team. Does not expect an issue.

[2015-10-21 18:57] dy2288 commented on #36
Done: programs/Citizen%20Engagement%20Web%20Toolkit.

[2015-10-23 15:39] #44 closed

[2015-10-27 16:10] BK01 commented on #43
Swagger definitions updated for the following API consoles: BCDataCatalogue, BCLaws, KamloopsGarbagePickup, Open511, Surrey-open311.

Swagger definition conversion underway for the following APIs: Geocoder

[2015-10-27 16:11] BK01 commented on #45
New API console to be developed following UAT.

[2015-10-27 20:05] dy2288 commented on #52
@lmullane & @ragbay I'm going to connect with you two to pass on this work to you since you have access to the various program owners. I'll show you my progress and walk you through a demo.

[2015-10-28 04:51] lmullane commented on #36
@dy2288 Can you please link to this repo: https://github.com/bcgov/citizen-engagement-web-toolkit Thanks!

[2015-10-28 05:38] lmullane commented on #36
@dy2288 Could you also please give @SteveMHoward edit powers to the profile page:) @DavidR8

[2015-10-28 15:54] #43 closed

[2015-10-28 16:50] pcrossley commented on #52
look at including a question in interview script

[2015-10-28 18:18] DavidR8 commented on #68
Incorporated into #54

[2015-10-28 18:22] DavidR8 commented on #54
@leslieanderson Note Terms must accommodate multiple submissions (taken from ticket #68)

[2015-10-28 18:22] #68 closed

[2015-10-29 00:17] dy2288 commented on #36
I've added the Github URL and the editor to the list, however it seems like Steve isn't able to edit any content. @f-w, anything I'm doing wrong as far as you can see? Or is this a bug?

[2015-10-29 18:04] f-w commented on #36
@dy2288, you need to create an "editors" property of array type to the profile object. Add Steve's acct id to editors.

[2015-10-29 18:40] BK01 commented on #45
API console has been published to the API store. Currently waiting to receive feedback (UAT) from the City of Surrey before work is initiated on a next version of the console.

[2015-10-29 18:42] BK01 commented on #46
API console has been published to the API store. Compatibility issues are being experienced between WSO2 and Socrata. A ticket has been submitted with Socrata to investigate the issue. Resolution is not anticipated within this sprint.

Current efforts moving to researching other options.

[2015-10-29 19:53] dy2288 commented on #36
Access granted (not a bug). MongoVUE was reporting that the record for "editors" was overwritten, but actually just deleted it...

[2015-10-29 22:12] BK01 opened #70 "API Store Upgrade Estimate"
#### *Story:*

As a developer I need access to a public tool to explore and understand how APIs function. I need to be able to explore the resources and parameters available in each API using a modern browser.

#### *Success Criteria:*

- Agreement and documentation on a list of tasks required to complete the work.
- An estimate of time to complete the work based on technical steps and available r

[2015-10-30 19:17] BK01 commented on #46
Simulated API console successfully tested in Swagger editor, using Swagger v2.0 definition.
https://uat.bcdevexchange.org/swagger-editor

[2015-11-02 17:40] #45 closed

[2015-11-02 17:43] #60 closed

[2015-11-02 20:27] DavidR8 commented on #58
Steve advised waiting on approvals from Legal. Not going to happen for this Sprint. Will be good to go when approvals received.

[2015-11-02 22:11] paulroberts68 commented on #55
@lmullane @pcrossley : Let's connect at the end of the PRAD1K usability testing and review the results to see if this story is still valid.

[2015-11-03 17:25] lmullane commented on #37
We have one more user test to complete, scheduled for tomorrow, followed by reporting out.

[2015-11-03 17:26] lmullane commented on #37
We have 2 more user test to complete, followed by reporting out.

[2015-11-03 17:26] lmullane commented on #64
We have 2 more user test to complete, followed by reporting out.

[2015-11-03 17:26] lmullane commented on #61
Page is with program owners for review.

[2015-11-03 17:27] lmullane commented on #60
This is being reviewed.

[2015-11-03 17:54] paulroberts68 opened #71 "As a program owner I want guidance on scoping/sizing a P4P1K opportunity."
As a product owner (DevEx) I need to conduct research with program owners to assess the amount of work they think a 1K transaction is worth so that we can determine how much (and what) direction the exchange needs ti give.

Originator: Paul

Success criteria:
1. Draft of content

Connect with:
Loren
Rommel
Paul C

[2015-11-03 19:29] pcrossley commented on #36
waiting on feedback to then finalize

[2015-11-03 19:33] #46 closed

[2015-11-03 21:30] #40 closed

[2015-11-04 15:49] paulroberts68 opened #72 "Pub sector clients can discover and access resources provided by labs partners"
As a public sector client I need to be able to discover and learn how to access resources that can help me collaborate with developers, such as the things that might be available through the labs from organizations such as Microsoft.

Created by Peter

DOD
- draft web page(s) explaining what is being made available and how public sector clients can get access
- proof of concept ready for review

[2015-11-04 15:54] paulroberts68 opened #73 "Create a profile page for the city of Victoria"
As a program owner for Victoria city I need to create a profile page so that I can access the DevEx services.

Created by Peter

DOD
2. Draft complete
3. Submitted for review to City Executive

Connect with
Loren, Peter, David W.

[2015-11-04 16:00] paulroberts68 opened #74 "Apply UX research learning to PRAD1K design"
As a program owner for DevEx I want the learnings from the UX research to influence the design of the PRAD1K feature-set.

Created by Paul

DOD
1. Create summary of findings - confluence
2. Create recommendations for design changes - confluence
3. Apply changes

[2015-11-04 16:05] paulroberts68 opened #75 "Drive BC WebCam API"
As a DriveBC program owner I wad to create an API spec that I can use to collaborate with developers.

Created by Peter

DOD
1. Create API design
2. Determine collaboration tool as per Fred`s design.

Connect with
Fred, Todd, Peter, Wrate

[2015-11-04 16:07] paulroberts68 opened #76 "BCA API Spec Design"
As a BCA program owner I want to create an API spec that I can use to collaborate with developers.

Created by Peter

DOD
1. Create API design
2. Determine collaboration tool as per Fred`s design.

Connect with
Fred, Todd, Peter, David H

[2015-11-04 16:54] DavidR8 commented on #75
Note: this replaces #165

[2015-11-04 19:41] f-w commented on #72
In a nutshell BizSpark is a MS program giving startups Azure credits. What's the role of DevEx here?

[2015-11-04 23:10] DavidR8 commented on #36
Need to decide if pics are required for profile page

[2015-11-04 23:50] MeaghanRStewart commented on #61
Once draft has been reviewed and approved, can be placed into production and marked as "Done".  Is this a correct assumption @lmullane ?

[2015-11-05 00:01] lmullane commented on #61
That’s correct.

From: MeaghanRStewart [mailto:notifications@github.com]
Sent: Wednesday, November 4, 2015 3:51 PM
To: BCDevExchange/Our-Project-Docs
Cc: Mullane, Loren GCPE:EX
Subject: Re: [Our-Project-Docs] Create a BCDevExchange profile page (#61)

Once draft has been reviewed and approved, can be placed into production and marked as "Done". Is this a correct assumption @lmullanehttps://github.

[2015-11-05 17:11] pcrossley opened #77 "Langley Page Licensing"

[2015-11-05 17:14] pcrossley opened #78 "Langley - Import Code to Github"
Relates to #58.

[2015-11-05 18:07] f-w commented on #53
Are all devx registered users allowed to reserve names or restricted to verified program owner? I think it's the latter since my understanding is that eventually lab will either be charge allocated or limited capacity computing resource.

[2015-11-05 18:09] f-w commented on #75
@MeaghanRStewart , time to have a discovery session with client.

[2015-11-05 18:10] f-w commented on #76
@MeaghanRStewart, time to have a discovery session with client

[2015-11-05 18:15] watkinspd commented on #53
Intended users will be public sector clients of the exchange. Idea is to help public sector clients to collaborate with developers through the "labs" construct.

[2015-11-05 18:39] f-w commented on #53
How to identify public section clients? By hand pick, by GitHub authenticated email address domain, or something else? If by email domain, I need a pre-defined list as I assume it's not limited to gov.bc.ca.

[2015-11-06 00:41] lmullane commented on #52
@pcrossley we interviewed 2 program owners.

[2015-11-06 00:42] #52 closed

[2015-11-06 00:46] lmullane commented on #61
Working to arrange photos.

[2015-11-06 01:34] f-w commented on #53
Resolution: starting with handpick from existing authorized profile editors.

[2015-11-06 18:14] kelpisland commented on #72
Fred and I met with Peter and we have a clear vision of what we need to do. I'll draft page content and set up a review.

[2015-11-09 19:22] f-w commented on #53
Some of the features can be combined with BCDevExchange/BCDevExchange-app/issues/158

[2015-11-10 16:48] BK01 opened #79 "City of Surrey - API Console v3"
#### *Story:*

Update the existing API console found in the API store for the City of Surrey based on feedback received on Nov 9, 2015.

#### *Success Criteria:*

- Embed additional documentation provided by the City of Surrey
- Add links to data sources
- Add links to City of Surrey API page
- Update logo
- Change API console title to City of Surrey Service Request API (open311)”

#### *Deliverab

[2015-11-10 18:08] lmullane commented on #61
@dbhume https://uat.bcdevexchange.org/programs/BCDevExchange

[2015-11-10 22:04] BK01 opened #80 "API Store - Current state description"
Relates to #70

[2015-11-10 22:11] BK01 opened #81 "API Store - Future state description"
Relates to #70

[2015-11-10 22:14] BK01 opened #82 "API Store - Doc steps to retire current API store"
Relates to #70

[2015-11-10 22:18] BK01 opened #83 "API Store - Doc steps to implement future API store"
Relates to #70

[2015-11-10 22:22] BK01 opened #84 "API Store - Doc steps to implement API consoles"
Relates to #70

[2015-11-10 22:23] BK01 opened #85 "API Store - Doc pub URL requirements for participation"
Relates to #70

[2015-11-10 22:24] BK01 opened #86 "API Store - Time estimate"
Relates to #70

[2015-11-10 23:38] DavidR8 commented on #77
Nov. 10 - Steve advised still waiting on opinion.

[2015-11-13 18:26] kelpisland commented on #33
- Create DevExchange GitHub terms of use agreement.
  This deliverable is now part of #54

[2015-11-16 16:50] MeaghanRStewart opened #87 "Publish profile page for the City of Victoria"
As a program owner for Victoria city I need to create a profile page so that I can access the DevEx services. Connected to ticket #73

Created by Meaghan

DOD

1. Submitted for review to City Executive
2. Profile page posted to BC Dev Exchange

Connect with

Loren, Peter, David W.

[2015-11-16 20:02] #80 closed

[2015-11-17 18:04] f-w opened #88 "DevX App Operation - Site crash"
There was an 1/2hr outage of bcdevexchange.org and uat.bcdevexchange.org on 2015-11-16. Reason is that forever management process crashed, bringing down both sites. Can we setup a monitor for bcdevexchange.org?

[2015-11-17 18:09] ll911 commented on #88
add both sites to site monitor job 'SiteStatus'

[2015-11-17 18:10] #88 closed

[2015-11-18 16:31] BK01 opened #89 "Swagger definition upgrade - External Docs"
#### *Story:*

Subtask of #107

As a developer I wish to see continued access to API owner provided documentation (pdf, html etc) linked from the API console pages. Currently this is offered through the WSO2 API store's 'documentation' tab.

#### *Success Criteria:*

- External documentation reference embedded in Swagger 2.0 consoles from the net API store.
- 6x Swagger definitions need to be upda

[2015-11-18 16:36] BK01 opened #90 "Township of Langley - API console (Jan 2016)"
#### *Story:*

As an API owner, once the new API store is in place (end of December 2015) I wish to see work initiated on a console for the Township of Langley's Cemetery API. This relates to a new API store that is compatible with the API vs. the previous API store which was not compatible.

#### *Success Criteria:*

- New API console for the Township of Langley displayed in the net new API store

[2015-11-18 16:43] #85 closed

[2015-11-18 16:45] BK01 commented on #81
Ensure maintenance of external doc linkage + multi-tab approach plan.

[2015-11-18 19:13] BK01 commented on #89
Limitation to note:
Only one document link can be listed per external doc element. Therefore, only one document link can be placed in one or all of the following locations.
- one at the top-level
- one per "tag" (which is a grouping of related operations)
- one per "operation" (e.g. GET, POST, etc)

[2015-11-18 21:51] lmullane commented on #87
@dy2288 Can you please create a profile page for the City of Victoria.

[2015-11-18 22:40] dy2288 commented on #87
City of Victoria now available.

[2015-11-20 00:16] paulroberts68 opened #91 "As a program owner I want to test PRAD 1K with some early adopters to test the UX experience so that I can determine what an MVP will look like."
Early UX research has identified some potential collision points in the pay for pull process. Work has been conducted to anticipate and alleviate some areas of potential confusion but further research needs to be conducted using a simulated realistic scenario.

Created by: Peter/Paul

DOD
Test with up to three developers

Connect with Paul/Peter

[2015-11-20 00:32] #81 closed

[2015-11-20 00:33] #84 closed

[2015-11-20 00:33] #82 closed

[2015-11-20 20:24] #83 closed

[2015-11-20 20:24] #86 closed

[2015-11-20 20:27] BK01 opened #92 "API List Page - Phase 1 Build (PROD)"
#### *Story:*

As a developer I need access to a public tool to explore and understand how APIs function. I need to be able to explore the resources and parameters available in each API using a modern browser.

#### *Success Criteria:*

- Leverage modular architecture for API store functions
- Build a phase 1 API store as outlined in document deliverable from issue #70

#### *Deliverables:*

 *  N

[2015-11-23 18:15] paulroberts68 opened #93 "Users need to see coding standards that the program owners are using"
As a developer I need to be able to see the coding standards that I must adhere to in order that my code be accepted during a pay for pull process.

Created by Peter

Success criteria
1. Users must be able to access all the development standards that they must follow while working on issues posted by the various profile page owners.

[2015-11-23 19:22] lmullane commented on #61
Photos have been taken, but may not be edited by end of sprint.

[2015-11-24 23:05] #33 closed

[2015-11-24 23:08] pcrossley opened #94 "Publish BCDevExchange Profile Page"
related to #61.#61 sees the page created.
this ticket is done when profile page is pushed to prod (therefore 'approved').

[2015-11-24 23:08] #61 closed

[2015-11-24 23:10] pcrossley commented on #70
As of Nov 24 BK is on vacation until Nov 26.  So this is not in-progress.  If it's actually assigned elsewhere, please update assignee.

[2015-11-24 23:14] pcrossley commented on #91
unassigned and unestimated, therefore not in progress.  If assignee is known, please update accordingly.  Not listed in any bull's-eye(?)

[2015-11-24 23:16] pcrossley commented on #54
Am I correct in understanding that the legal terms have been created, they're just waiting on legal?  If so, we can mark this as done and create another for "legal sign-off of Prad1K terms"

[2015-11-24 23:22] pcrossley commented on #87
Sounds like this is done, according to DY comment...

[2015-11-24 23:22] #87 closed

[2015-11-24 23:23] pcrossley commented on #53
What's the sense on the size of this undertaking?

[2015-11-24 23:40] DavidR8 commented on #54
@pcrossley Yes that makes sense as we have draft terms from Legal Services. We will return our feedback today/tomorrow in time for a Thursday meeting (to be confirmed) cc/ @leslieanderson

[2015-11-25 16:32] #70 closed

[2015-11-25 17:51] lmullane commented on #36
@f-w Please hide the Work With Us section on this page. @DavidR8
https://bcdevexchange.org/programs/Citizen%20Engagement%20Web%20Toolkit

[2015-11-25 21:16] f-w commented on #36
@lmullane, work with us is hidden. Back to you.

[2015-11-25 21:58] #74 closed

[2015-11-26 06:08] #37 closed

[2015-11-26 06:09] #73 closed

[2015-11-26 06:10] #36 closed

[2015-11-26 17:56] #53 closed

[2015-11-30 18:40] karsmith opened #95 "BCA API Spec Preparation"
Develop process for BCA Spec collaboration. Train BCA Staff on process, prior to launch date of Dec. 18th.

[2015-11-30 19:36] karsmith opened #96 "As a technical contact I want to know that Microsoft is providing services so that I can sign up and use them."
Microsoft is going to provide a number of services that technical contacts can use once they sign up to the developers exchange. This will include server space.

Created by Peter

DOD
1. Facilitate user access the microsoft services.
2. Ensure that users know that these services exist

Connect with Peter

[2015-11-30 19:43] karsmith opened #97 "Public Sector Guide"
BCDevExchange needs to produce a guide for use of the site by the Public Sector

[2015-11-30 19:49] karsmith opened #98 "As a MOTI program owner I want to have built the first iteration of my API so that developers can use build against it during the March hackathon."
Develop API code for web cam app which can be listed as a resource on the profile page.

Created by Peter

DOD
1. A functioning API that has been build IAW the spec - COMPLETE in Dec 2015
2. API link displayed on the profile page - COMPLETE
3. API listed - BLOCKED

Connect with Peter, Todd

[2015-12-01 18:49] kelpisland commented on #91
This is the crucible test - @paulroberts68 is arranging contract. Dev will work on BClaws issue.

[2015-12-02 21:21] lmullane commented on #94
@dy2288 This is approved. Please add this page to the YAML.
https://bcdevexchange.org/programs/BCDevExchange

[2015-12-02 21:28] lmullane commented on #94
@dy2288 And this one to please:  https://bcdevexchange.org/programs/Citizen%20Engagement%20Web%20Toolkit

[2015-12-02 22:02] #94 closed

[2015-12-03 21:29] BK01 opened #99 "API List page [1] - wireframe"
See item 1 in issue #161

[2015-12-03 21:30] BK01 opened #100 "API List page [2] - Build v1 page"
See item 2 in issue #161

[2015-12-03 21:31] BK01 opened #101 "API List page [3] - API Consoles"
See item 3 in issue #161

[2015-12-03 21:33] BK01 opened #102 "API List page [4] - Swagger definition - WebCam"
See item 4 in issue #161

[2015-12-03 21:33] BK01 opened #103 "API Spec for Webcam"
As the MOTI program owner, I want to engage the B.C. tech sector so I can build a webcam api that meets the needs of developers.

DOD
Create webcam swagger spec
Publish spec in repo with invitation to contribute
Update profile page with invitation to contribute and link to the repo

[2015-12-04 17:02] BK01 opened #104 "API List page [5] - Confirm WebCam Swagger file hosting"
See item 5 in issue #161

[2015-12-08 20:50] #99 closed

[2015-12-08 21:01] pcrossley opened #105 "PIA for Google Docs"
1) Do we have a PIA already for Google Docs?
2) If not, can we get one?
3) if answer to 2) is "Yes", what information do we need to provide.

[2015-12-08 21:04] pcrossley commented on #105
The following URL displays all PIAs (A PIA is a Privacy Impact Assessment) in existence.  Once on this page, search for "Google" and you'll see that no specific PIA exists for Google Docs.
http://catalogue.data.gov.bc.ca/dataset/bc-personal-information-directory-pid/resource/1bf89cdf-168a-4945-94bb-e80aed602845.
So, answer to 1) is "NO"
Answer to 2) is "YES", if we complete the form and satisfy th

[2015-12-10 19:52] BK01 opened #106 "API List page [7] - UI Integration"
BK01 to provide lmullane with URLs to full API List as well as individual API consoles to update the BCDevX website links (including profile pages).

[2015-12-10 19:54] BK01 commented on #102
Version 1.0 of the Swagger definition file has been sent to MOTI for review and feedback. Once approval from MOTI is received, this issue will be marked 'done'

[2015-12-10 19:58] BK01 commented on #99
Verification session held with website design team to refine original wireframe and confirm integration within BCDevX homepage.

[2015-12-10 21:18] BK01 commented on #102
Version 1.0 of the Swagger definition has been reviewed by MOTI. Refinements requested which will be initiated and completed prior to API console configuration.

[2015-12-11 19:09] BK01 commented on #102
Swagger definition ready. Awaiting approval before initiating work on an API console.

[2015-12-11 19:09] #102 closed

[2015-12-11 19:24] BK01 commented on #103
(Blocked) On hold until approval to build is received (Feb 2016?)

[2015-12-12 00:25] #104 closed

[2015-12-14 17:29] #95 closed

[2015-12-14 23:53] BK01 commented on #106
Projected URL:
https://bcdevexchange.org/apilist/

[2015-12-17 00:21] #101 closed

[2015-12-17 00:23] #106 closed

[2015-12-17 23:38] #100 closed

[2015-12-17 23:50] BK01 opened #107 "Swagger.io code customization - Master"
#### *Story:*

As a developer I would like to see enhancements to the Swagger UI to improve the experience and level of detail shown in an API console.

#### *Success Criteria:*

- Custom code written to enhance the Swagger.io (UI) code embedded within the BCDevX page.

- Functionality listed below in place in PROD

#### *Deliverables:*

1. Enable Swagger UI to read the external document element a

[2015-12-18 05:05] kelpisland commented on #76
The BCA repo is set up and they are ready to rock

[2015-12-18 05:06] #76 closed

[2015-12-18 20:17] BK01 opened #108 "API List Page - Enhancement"
Enhance the current method of generating the API List page (Swagger.io and JavaScript).

Extend the fields list (YAML) to support the presence of Swagger files in multiple locations  depending on where API owners choose to host their Swagger definition files (GitHub, public web servers, BCDC).

Connect with:
Shea, Fred, Leo, Brian, Todd

[2016-01-07 22:19] BK01 opened #109 "Swagger.io code customization - Alpha List"
Subtask of #107

Ensure API List is setup alphabetically for release 1

[2016-01-07 22:21] BK01 opened #110 "Swagger.io code customization - License"
Subtask of #107

Enable Swagger UI to display license information for the API in the API console.

[2016-01-07 22:25] BK01 opened #111 "Swagger.io code customization - External Docs"
Subtask of #107

Enhance code for Swagger UI to have the capability to read the external document element as listed in Swagger 2.0 definition.

[2016-01-07 22:30] BK01 opened #112 "API List page UAT"
Tests:

1. Ensure parody exists between the new API List and the previous API store in terms of the number of API consoles.

2. Confirm API consoles can submit requests and receive and display response (assuming correct input).

3. Test main page layout, search, header and footer

[2016-01-07 22:35] BK01 opened #113 "Profile page update - API links"
Replace current API console hyperlinks found in profile pages with new ones. In collaboration with  BK01 and ll911.

[2016-01-07 22:40] #109 closed

[2016-01-07 22:40] #110 closed

[2016-01-07 22:40] #111 closed

[2016-01-07 22:40] #108 closed

[2016-01-07 22:41] BK01 commented on #92
Preparing for migration to PROD - Wednesday, Jan 13th pending final authorization.

[2016-01-07 22:42] BK01 commented on #112
Scheduled for Friday, January 8th in UAT env

[2016-01-07 22:42] BK01 commented on #113
Scheduled for Wednesday, Jan 13th in sync with #92

[2016-01-08 16:55] #89 closed

[2016-01-08 16:55] BK01 commented on #89
Capability now enabled. Redundant with #111

[2016-01-08 16:56] BK01 commented on #90
Swagger definition ready for deployment to API list page. Do we first need to have a Township of Langley profile page?

[2016-01-08 17:18] lmullane commented on #90
@BK01 @DavidR8 Yes, we need the profile page.

[2016-01-08 23:43] #112 closed

[2016-01-09 00:00] #54 closed

[2016-01-13 23:40] #92 closed

[2016-01-13 23:40] #113 closed

[2016-01-13 23:44] #79 closed

[2016-01-13 23:46] BK01 commented on #90
(Blocked) On hold until profile page created for Township of Langley.

[2016-01-13 23:47] BK01 commented on #107
Deliverables #1,2,4 are complete. Item #3 requires a code change (future scope)

[2016-01-13 23:53] BK01 opened #114 "API List Page - Shorten API descriptions"
#### *Story:*

As a developer I need access to a public tool that provides a searchable list of APIs with brief descriptive text (using a modern browser).

#### *Success Criteria:*

- More concise descriptive text

#### *Deliverables:*

 *  Updated API List page in PROD with shortened 1-2 line descriptions.

[2016-01-13 23:54] dbhume commented on #114
So that you can?

From: BK01 [mailto:notifications@github.com]
Sent: Wednesday, January 13, 2016 3:53 PM
To: BCDevExchange/Our-Project-Docs
Subject: [Our-Project-Docs] API List Page - Shorten API descriptions (#114)

Story:

As a developer I need access to a public tool that provides a searchable list of APIs with brief descriptive text (using a modern browser).

Success Criteria:

  *   More conc

[2016-01-14 00:27] lmullane commented on #114
@BK01 For the longer descriptions on the API console page, please make the links work.

[2016-01-14 01:17] BK01 commented on #114
Initial release to be published on Thursday Jan 14 for final review.

[2016-01-14 01:18] #114 closed

[2016-01-15 22:27] kelpisland opened #115 "API List Service Research"
we need to conduct a UX workshop to determine/refine/confirm the features that the exchange users actually want from a listing service and @ragbay @lmullane would be able to help us create this. The API listing service is not a priority for this sprint but we could attempt some research between the 18th Dec through 24th (or before capacity permitting).

[2016-01-15 23:41] #91 closed

[2016-01-16 00:16] BK01 opened #116 "API List Page - API console request label"
#### *Story:*

Within each API console found in the API List page if there is a list of API requests that does not have a label (default), replace with a label (swagger tags) 'resources'.

#### *Success Criteria:*

New Swagger definitions released with requests grouped by resource,

#### *Deliverables:*

New Swagger definition and published API consoles (in PROD API List) for the following APIs.

[2016-01-20 20:26] paulroberts68 opened #117 "How does a user find BC-Policy-Framework-For-GitHub"
As a public employee how do I find the guide to github easily and quickly so that I can comply with the content.

Created by Paul R

Connect with Paul, Loren or David W.

Acceptance criteria
Conduct UX research with up to 8 government users.
Provide low fidelity journey map and findings

[2016-01-21 21:21] paulroberts68 opened #118 "Users understand their fiscal resposibilities"
As a DevEx profile page owner I need to fully understand my fiscal responsibility regarding pay 4 pull so that there are no misunderstandings when it comes time to use my p-card.

Created by Karen

Success criteria:
1. Research proves that each profile page owner is aware of their fiscal responsibility.

[2016-01-21 21:26] paulroberts68 opened #119 "Users can create aggregate financial reports"
As a BC Dev program lead I need to understand if I need to provide aggregate financial reports.

Created by Karen

Success criteria:
1. Establish if it is the profile page owners or DevEx that is accountable for this information.

[2016-01-22 21:49] #116 closed

[2016-01-28 18:21] karsmith commented on #103
Potential challenge to be used for Appathon March 3-4

[2016-01-29 17:23] ll911 commented on #75
@BK01 we have the swagger specs ready for client review, right?

[2016-01-29 17:32] BK01 commented on #75
Swagger file (v1) has been built and reviewed by client (in text form), but not yet approved to expose and build a test API console.

[2016-02-09 23:35] BK01 opened #120 "API Mgmt code"
Confirm the following:
1. Which components of the API List / API consoles use custom code hosted on GitHub.
2. Licenses for other code used within API Mgmt (API list page and consoles)

Provide list by Thursday @ Noon

[2016-02-10 17:49] #120 closed

[2016-02-10 21:43] #64 closed

[2016-02-10 21:44] #63 closed

[2016-02-10 21:48] #39 closed

[2016-02-10 21:49] #117 closed

[2016-02-10 21:50] #69 closed

[2016-02-10 21:50] #97 closed

[2016-02-10 21:52] #93 closed

[2016-02-10 21:54] #55 closed

[2016-02-10 22:10] #115 closed

[2016-02-10 22:13] #119 closed

[2016-02-10 22:32] paulroberts68 opened #121 "As a DevEx program owner I need have a f2f dialogue with the user community so that I can understand their needs and concerns regarding P4P"
Created by Peter/Paul

DOD
1. Prepare/Create GitHub Issues to discuss during event
Prepare scenarios we want to make sure to cover in discussions, for example:
-Multiple developers working on the same issue
-Incomplete Pull Request
2. Manage Invitations, Communications, Attendee Responses
3. Set Date & Secure Location
Our aim is to hold the event by the end of Feb 19. Suggestions:
-Vancouver: venu

[2016-02-10 22:39] #118 closed

[2016-02-10 22:41] #107 closed

[2016-02-10 22:44] #105 closed

[2016-02-10 22:48] #96 closed

[2016-02-10 22:50] #72 closed

[2016-02-10 22:56] paulroberts68 opened #122 "As a lead for the hackathon I need to create an account engagement plan so that I can organize and manage the contributing organizations."
Created by Paul/Loren

DOD
1. Create task list and calls to action for the participating organizations

[2016-02-10 23:00] paulroberts68 opened #123 "As the lead for the hackathon I need to create a task checklist that I can use to drive activity."
Created by Paul

DOD
1. Prioritized check list
2. Categorized check-list

[2016-02-10 23:02] paulroberts68 opened #124 "As the lead for the hackathon I needs a communications plan so that I can recruit and manage the development participants."
Created by Loren/Paul

DOD
1. Initial comms plan.

[2016-02-10 23:53] BK01 opened #125 "PRAD1K Issues List - Jekyll"
Summarize 2-3 candidate issues for Pay4Pull using established template as published on GitHub

[2016-02-11 22:29] f-w commented on #98
@ll911 , Does api.bcdevexchange.org contain (unpublished?) webcam API spec? I only found open511.

[2016-02-12 00:19] ll911 commented on #98
@f-w the bcgov API swagger staged in BCDC for unpublished content.

[2016-02-12 17:12] mark-a-wilson commented on #121
@ragbay  and @lmullane have agreed on an agenda for the engagement session. I have a meeting with David H and Peter this afternoon and will run the plan by them, particularly the outcomes. Next steps: Secure Boris & small group of his contacts; set time & location.

[2016-02-12 22:56] mark-a-wilson commented on #121
Hume and Peter's direction on the plan was that the focus needs to be much broader and more generative. We don't want the focus to be to poke holes in P4P, but to articulate the broader vision of the Exchange...We need to ask participants, "What is the value for you + what model(s) could facilitate those things? Where do we go from here?"
- Participants: (Mark & Rommel to facilitate; Hume and Pete

[2016-02-12 23:45] mark-a-wilson commented on #121
Next Steps:
1) Set date (David & Peter's availability)
2) Contact and confirm attendees
3) Find venue

[2016-02-17 19:16] lmullane commented on #77
Langley has adopted OGL. Decision remains on Apache.

[2016-02-17 19:17] lmullane commented on #58
@f-w Could you please remove the GitHub links, counter, etc. from this page:
https://bcdevexchange.org/programs/Langley Thanks in advance.

[2016-02-17 19:23] f-w commented on #58
@lmullane, done.

[2016-02-17 19:27] lmullane commented on #58
Thank you, @f-w !

[2016-02-18 18:47] mark-a-wilson commented on #121
David & Peter will make themselves available. Aiming for week of Mar 7.

[2016-02-18 18:50] mark-a-wilson commented on #121
@MeaghanRStewart , could you connect with @lmullane and get the details/contact for a venue that DevX has used before at **UBC Robson square**? Loren said the venue was very good. We're aiming to confirm a solid 20 participants. Could you contact the venue and see if they have availability on Mon, Tue, Wed, or Thu evening (March 7-10)?

[2016-02-18 18:51] mark-a-wilson commented on #121
@lmullane , how can I get a complete list of contacts for all the Developers/entrepreneurs who have engaged so far from Vancouver?

[2016-02-23 16:58] #125 closed

[2016-02-23 19:37] lmullane commented on #124
Comms plan should be here this week.

[2016-02-25 00:25] lmullane commented on #58
@f-w could you please rename this page from: https://bcdevexchange.org/programs/Langley

To:
https://bcdevexchange.org/programs/Township of Langley

[2016-02-25 17:19] f-w commented on #58
@lmullane, you can rename it in yaml file now.

[2016-02-25 17:37] lmullane commented on #58
Thanks, @f-w

[2016-02-25 21:49] #123 closed

[2016-02-26 18:08] #122 closed

[2016-02-26 18:08] #124 closed

[2016-02-26 18:18] #71 closed

[2016-02-26 18:43] paulroberts68 commented on #50
Deferred issue as it has passed the stale threshold

[2016-02-26 18:43] #50 closed

[2016-03-01 18:49] pcrossley opened #126 "First Voices - Issues Listing"
As a Developer, I'd like to know what issues First Voices would like to solve, so that I can add value to the FV work and get paid.

[2016-03-01 18:51] pcrossley commented on #126
DOD: Minimum one issue vetted and posted to FV partner/profile page for P4P

[2016-03-01 18:52] pcrossley commented on #126
1) Discovery: Follow-up with FV team to determine level of readiness/completeness of issues to be crafted for list.

[2016-03-01 18:55] pcrossley opened #127 "Navigation Menu"
As any persona visiting the website, I'd like to jump to content I'm looking for.

[2016-03-01 18:56] pcrossley commented on #127
DOD: mapped navigation proposal based on current IA

[2016-03-01 18:57] pcrossley commented on #127
1) Connect with @ragbay to discuss IA and usable options for navigation.

[2016-03-01 19:29] kelpisland opened #128 "DevEx Event sign up"
The Dev Exchange needs a developer sign up and comms channel for events. There are 4 upcoming events in March and we need to quickly get work out to the dev community for these events to be successful.

[2016-03-01 19:30] kelpisland commented on #128
I think Meetup.com would make a good MVP to get the ball rolling before we try any type of custom solution

[2016-03-01 20:11] gndv commented on #128
Happy to post appropriate events on the Open Data society of BC meetup groups. What events are you holding?

[2016-03-01 20:27] kelpisland commented on #128
We're setting up some "discovery day" and "Hackathon" events for later in March - Thanks for the offer to post, I'll ping you as soon as we have the details worked out.

Cheers!

[2016-03-02 21:05] paulroberts68 opened #129 "Draft ideas to allow program owners to bundle P4P issues to a maximum of $25K"
Based on our experience with P4P so far the exchange needs to facilitate a more efficient way for program owners and developers to collaborate. The experiments with 1K P4P has demonstrated that both public and private developers would like to work on work packages that are greater than 2 days of effort.

DOD
Create ideas that can be used in UX research.
1. Organize small group mtg
2. Take ideas to

[2016-03-07 18:46] BK01 commented on #98
Will initiate work this week to create an API console for the webcam API (using existing swagger definition, against existing API). This API console will be listed in the BCDevX API list.

Related items:
- Confirmation on existence of associated profile page
- Confirmation from API owner on approved API console release date

[2016-03-09 22:53] BK01 commented on #98
BC Highway Cam - CSV file [OGL] - In progress/on track for announcement date

BC Highway Cam - API Spec [Swagger file] - Complete in Dec 2015, awaiting approvals/direction on next steps / license.

[2016-03-10 01:10] BK01 commented on #98
BC Highway Cam - CSV file [OGL] - COMPLETE - PUBLISHED
BC Highway Cam - Swagger - COMPLETE - ON GITHUB
BC Highway Cam - API Console - Requires MOTI approval AND a metadata record (with checklist and license) in the BC Data Catalogue. Following this, an API console can be added to the BCDevX API List.

[2016-03-14 18:09] f-w commented on #127
@pcrossley, is this issue at UX design stage or dev stage?

[2016-03-15 15:53] #129 closed

[2016-03-15 15:56] #121 closed

[2016-03-15 18:59] pcrossley commented on #126
from the PO, First Voices 3/10/16 : "This has been delayed given import issues for the reference stack. "

[2016-03-15 19:00] pcrossley commented on #127
@f-w  IA discussion...no Dev yet, thanks.

[2016-03-15 22:17] pcrossley commented on #127
@ragbay and I have discussed and touched base with @f-w:
Hamburger on left of page if possible - right side okay if tech reason.
"Sign-up" and "log in" to be persistent in header and not included in drop-down hamburger menu.
Hamburger menu has no label,
navigation elements within hamburger menu as follows:

Developers
  Code With Us
  API's
Entrepreneurs
  Partners
  API's
Public Sector
  Partners

[2016-03-15 22:21] lmullane commented on #103
@f-w Can you please link this repo: https://github.com/bcgov/drivebc-webcam-api
to this profile page:
https://bcdevexchange.org/programs/Open511-DriveBC

[2016-03-15 22:26] f-w commented on #103
@lmullane, done

[2016-03-15 22:57] BK01 commented on #90
Propose posting Langley API swagger definition to the BCDevX GitHub repo. If needed in the future (as-is or to update) this can be referenced to build an API console. Approval from Langley required.

[2016-03-15 22:58] lmullane commented on #103
Thank you! @f-w

[2016-03-15 22:59] #58 closed

[2016-03-15 23:03] BK01 commented on #98
Proposal for next sprint - Create the new API List page entry, URL and descriptive text ahead of time. Store offline, if approved in April, introduce new entry to API List page via GitHub.

Risk statement - API List  update (for webcams) must not be released prior to approval from TRAN

[2016-03-15 23:04] lmullane commented on #103
This is complete: https://github.com/bcgov/drivebc-webcam-api

[2016-03-15 23:04] #103 closed

[2016-03-15 23:15] #98 closed

[2016-03-16 16:54] f-w commented on #127
![image](https://cloud.githubusercontent.com/assets/12823994/13821007/12f56d3c-eb5d-11e5-9379-b4801aa7a2e8.png)

[2016-03-16 17:53] paulroberts68 opened #130 "Reserving a P4P"
As a program owner I would like the option of allowing developers to reserve a P4P issue and work on it for a time boxed period of time so that we avoid a duplication of effort and frustration in the developer community.

[2016-03-16 23:02] pcrossley commented on #127
"Developers" Link should point to:  https://bcdevexchange.org/home#developers-value-props
"Entrepreneurs" Link should point to: https://bcdevexchange.org/home#entrepreneurs-value-props
"Public Sector" Link should point to: https://bcdevexchange.org/home#public-sector-value-props

[2016-03-16 23:09] #127 closed

[2016-03-17 21:50] pcrossley commented on #127
@ll911  - can you push the UAT ver of the menu to prod?
@paulroberts68  - we'll need to add a task to backlog to bring "blog" out of hamburger and place in persistent header.  Also, we'll need a task to write/create an "About Us" page and add that to the bottom of the drop-down hamburger menu.  Finally, on a mobile device, the "sign up" and "log in" labels wrap too much...we need to investigate a

[2016-03-17 22:52] f-w commented on #127
Added blog back to navbar. UAT is building...

[2016-03-17 22:52] ll911 commented on #127
@pcrossley @f-w can you confirm the hash you want to push to prod?

[2016-03-17 22:53] f-w commented on #127
c6cf187. Wait for about 10min for UAT to finish building.

[2016-03-17 23:54] ll911 commented on #127
completed.

[2016-03-22 20:20] BK01 opened #131 "API List - Console fix"
Update and repair json for the following API consoles:

- Open511
- BCLaws

[2016-03-22 20:20] #131 closed

[2016-03-22 20:30] BK01 opened #132 "API Key Proposal"
#### *Story:*

As a developer I need a self-serve mechanism to acquire an API Key for API's listed in the BCDevX API List page.

#### *Success Criteria:*

Proposal (document) outlining the following:
- Interaction with existing API key mechanisms (multiple channel)
- Account requirements
- Registration requirements
- Software needed
- Gaps - Self-serve webpage
- UI modification - API Console - key

[2016-03-30 18:38] kelpisland commented on #128
PIA for Meetup submitted

[2016-03-30 18:49] BK01 opened #133 "API Console - Surrey - Traffic Loop Count API"
#### *Story:*

As an API owner I wish to have my API listed in the BCDevX API List.

#### *Success Criteria:*

API Owner is able to provide API definition (Swagger file) and create API console.

#### *Deliverables:*

1. A new API console in the BCDevX API List for the City of Surrey's Traffic Loop Counter API
2. Hyperlink to City of Surrey partners page

#### *Team:*

City of Surrey:
- Create API

[2016-03-30 18:51] #133 closed

[2016-03-31 21:58] BK01 commented on #132
Draft complete March 31, 2016. Now under review by f-w and ll911.

[2016-03-31 21:58] #132 closed

[2016-04-07 16:46] lmullane commented on #130
@paulroberts68 I think you may have done some research on this (i.e. technical implementation in GitHub), correct?

[2016-04-07 16:48] lmullane commented on #130
I will create a journey map for 2.

[2016-05-11 17:38] paulroberts68 opened #134 "Get legal sign off for Trello"

[2016-05-11 22:55] paulroberts68 opened #135 "Profile pages 1 to many GitHubs repos"

[2016-05-11 22:58] paulroberts68 commented on #135
There is also a bug/defect that prevents a P$P issue from appearing on the code with us page if it is not associated with a profile page

[2016-05-12 17:37] DavidR8 commented on #134
Request for Legal review sent May 12

[2017-02-21 21:28] ll911 opened #136 "where are old icons moved to?"
https://github.com/BCDevExchange/Our-Project-Docs/blob/master/discussion/projectstates.md